.h-lis{
    padding: 10px;
    background-color: rgb(172, 90, 42);
    
}
.h-Ris{
    padding: 10px;
    background-color: rgb(172, 90, 42);
}
.row{
    padding: 30px;
    margin: 20px;
    background-color:rgb(172, 90, 42);
    border: 30px;
}
.content{
    border: 300px;
}