<div class="row">

    <div class="l-lis col-9">
        <span class="h-lis"><a routerLink="home" style="color: white;">Home</a></span>
        <span class="h-lis"><a routerLink="about-us"style="color: white;">AboutUs</a></span>
        <span class="h-lis"><a routerLink="contact-us" style="color: white;">ContactUs</a></span>
    </div>
    <div class="r-lis col-3">
        <span class="h-Ris"><a routerLink="login" style="color: white;">Login</a></span>
        <span class="h-Ris"><a routerLink="create-account" style="color: white;">CreateAccount</a></span>
    </div>
</div>

<div class="col-12 content">
    <router-outlet></router-outlet>
</div>